
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="context">
                    <div class="cuaderno"><img src="../../assets/cuaderno.png" alt="book">
                    </div>
                    <h2 class="titulo">Educación</h2>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 edu">
                <h1 id="bachiller"><b>Bachiller en humanidades</b></h1>
                <h2>Instituto Superior Integral Modelo</h2>
                <p>Año 2009</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 edu">
                <img class="utn" src="../../assets/pngwing.com (13).png" alt="logoUTN">
                <h1><b>Tec. Universitaria en Seguridad e Higiene en el Trabajo</b></h1>
                <h2>FRCU - UTN</h2>
                <p>Año 2019</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 edu">
                <h1><b>Cursos:</b></h1>
                <h2>Auditores Internos en SST ISO 45001 - 2018</h2>
                <h2>Aprendiendo a Programar: Bombieri/Municipalidad de CdelU</h2>
                <p>Año 2021</p>
                <h2>JavaScript Moderno: Udemy</h2>
                <p>Año 2022</p>
            </div>
        </div>
    </div>
