<section class="recuadro">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="context">
                    <div class="cuaderno"><img src="../../assets/cuaderno.png" alt="book">
                    </div>
                    <h2 class="titulo">Educación</h2>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 edu">
                <h1>Bachiller en humanidades</h1>
                <h2>Instituto Superior Integral Modelo</h2>
                <p>Año 2009</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 edu">
                <h1>Tec. Universitaria en Seguridad e Higiene en el Trabajo</h1>
                <h2>FRCU - UTN</h2>
                <p>Año 2019</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 edu">
                <h1>Cursos:</h1>
                <ul>
                    <li>Auditores Internos en SST ISO 45001 - 2018</li>
                    <li>Aprendiendo a Programar: Bombieri/Municipalidad de CdelU - 2021</li>
                    <li>JavaScript Moderno: Udemy - 2022</li>
                </ul>
            </div>
        </div>
    </div>
</section>