<hr class="featurette-divider">
<div >
    <h1 class="proyectos">PROYECTOS</h1>
</div>
<hr class="featurette-divider">
<div class="container marketing">
    <div class="row featurette align-items-center">
        <div class="col-xs-12 col-sm-12 col-md-7 text-center ">
            <h2 class="featurette-heading fw-normal lh-1"><b>PF Portfolio Personal "Curso Concepción de
                    Programadores"</b></h2>
            <span class="text-muted">FRCU - UTN / Bombieri / Municipalidad de Concepción del Uruguay - ER</span><br>
            <a href="https://piliansa.github.io/">WEB PORTFOLIO</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5">
            <img src="../../assets/web11.png" class="rounded " alt="web1">
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class="container marketing">
    <div class="row featurette align-items-center">
        <div class="col-xs-12 col-sm-12 col-md-5">
            <img src="../../assets/webriou.png" alt="WebRioUruguay">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 text-center ">
            <h2 class="featurette-heading fw-normal lh-1"><b>Práctica JS - Web del Río Uruguay</b></h2><br>
            <span class="text-muted fixing">Práctica a través de YouTube.</span><br>
            <a href="https://piliansa.github.io/riouruguay/">WEB DEL RÍO URUGUAY</a>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class="container marketing">
    <div class="row featurette align-items-center">
        <div class="col-xs-12 col-sm-12 col-md-7 text-center ">
            <h2 class="featurette-heading fw-normal lh-1"><b>Formulario FreeCodeCamp</b></h2><br>
            <span class="text-muted">Práctica de formulario FreeCodeCamp - HTML y CSS</span><br>
            <a href="https://piliansa.github.io/formulario-I/">WEB DEL FORMULARIO</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5">
            <img src="../../assets/formulario.png" class="rounded " alt="web1">
        </div>
    </div>
</div>
