<header>
    <div class="logoAr">
        <img id="Arprog" src="../../../assets/APLogo.png" alt="">
    </div>
    <div class="size">
        <div class="background-image">
            <div>
                <img id="image"
                    src="https://1.bp.blogspot.com/-Wpc6EQdjui8/XXP_uaQsddI/AAAAAAAADL8/c7hMZ9QPRwcELvJVnBth3EA2wD_cVeIwwCLcBGAs/s1600/Flat_colorful_background.jpg"
                    alt="img-galaxia">
            </div>
            <div id="id-img">
                <img id="photo"
                    src="https://media-exp1.licdn.com/dms/image/C4D03AQFsM7CbaIeMgQ/profile-displayphoto-shrink_200_200/0/1648586496267?e=1655337600&v=beta&t=Ofmxo7lI7gpeC71XdrqBTF9Fll1Z0alfLGUFWliGkG8"
                    alt="">
            </div>
            <div id="name">
                <h1>Pilar Ansa</h1>
                <div>
                    <h4>FullStack developer</h4>
                </div>
                <div>
                    <h4>Concepción del Uruguay, Entre Ríos</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative">
                <div class="customize-nav position-absolute">
                    <a href="#acerca" class="btn btn-light active" aria-current="page">Acerca de mi</a>
                    <a href="#experiencia" class="btn btn-light">Experiencia</a>
                    <a href="#educacion" class="btn btn-light">Educación</a>
                    <a href="#contacto" class="btn btn-light">Contacto</a>
                </div>
            </div>
        </div>
    </div>
</header>