.customize-nav {
    width: 100%;
    position: relative;
    align-items: center;
    padding-left: 50px;
    top: 10px;
}

header {
    max-height: 1000px;
    /* background-color: #d9b0e8; */
    /* border-radius: 50px; */
}

.imagen {
    bottom: 50px;
}

#image {
    width: 100%;
    max-height: 100px;
    padding: 10px 10px 0 10px;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    border-radius: 50%;
    margin: 5px;
    margin-left: 2%;
    z-index: 5;
    bottom: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.background-image {
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav {
    background-color: #d9b0e8;
    display: flex;
    justify-content: space-around;
}
.logoAr {
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Arprog {
    width: 40%;
    min-width: 190px;
    max-width: 266px;
    margin: auto;
    position: absolute;
    align-items: center;
}

#name {
    margin: auto;
    margin-left: 2rem;
    z-index: 7;
    bottom: 0px;
    color: #d9b0e8;
    text-align: left;
}
.presentation {
    max-height: 25vh;
}
@media (max-width: 576px) {
    #name {
        width: 100%;
        margin: auto;
        padding: 0 50px !important;
        text-align: left;
        /* font-size: small !important; */
        top: 0%;
        position: relative;
        display: block;
    }
    img {
        width: 50%;
    }
    .imagen {
        bottom: 5px
    }
    .fix {
        height: 30% !important;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
    }
    .image {
        width: 500px !important;
    }
}
/* @media (min-width: 576px) {
    .links {
        width: 25px;
    }
} */
@media (max-width: 767px) {
    .presentation {
        min-height: 250px;
    }
    
}
@media (min-width: 767px) {
    .imagen {
        width: 100%;
    }

    #name {
        margin-top: 0px;
        /* margin-left: 50px; */
    }
}

@media (min-width: 992px) {
    #name {
        float: left;
    }
    .fix {
        float: left;
    }
}
.icon {
    width: 100%;
    border-radius: unset !important;
}
.links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}
.links img {
    max-width: 50px;
    min-width: 30px;
    padding: 10px;
}
.links a {
    box-shadow: none;
}
p {
    color: dimgray;
    line-height: 1;
}
