<header>
    <nav>
        <div class="logoAr">
            <img id="Arprog" src="../../../assets/APLogo.png" alt="">
        </div>
        <div class="links">
            <a href="https://www.linkedin.com/in/ansap/"><img class="icon" src="../../../assets/linkedin.png"
                    alt="LogoLink"></a>
            <a href="https://github.com/Piliansa"><img class="icon" src="../../../assets/pngegg (22).png" alt=""></a>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <img id="image" class="img-fluid"
                src="https://1.bp.blogspot.com/-Wpc6EQdjui8/XXP_uaQsddI/AAAAAAAADL8/c7hMZ9QPRwcELvJVnBth3EA2wD_cVeIwwCLcBGAs/s1600/Flat_colorful_background.jpg"
                alt="img-galaxia">
        </div>
        <div class="container topping">
            <div class="row presentation">
                <div class="fix col-md-3 col-lg-3 col-xl-2">
                    <div class="imagen">
                        <img class="photo"
                            src="https://media-exp2.licdn.com/dms/image/C4D03AQFsM7CbaIeMgQ/profile-displayphoto-shrink_200_200/0/1648586496267?e=1663804800&v=beta&t=9zWsIYkxorYC99bj9X1GtHBnNpVI_yibUz6FGNM9TKk"
                            alt="">
                    </div>
                </div>
                <div class="col-md-5" id="name">
                    <h1><b>Pilar Ansa</b></h1>
                    <p>Full Stack Developer Jr.<br>Concepción del Uruguay, Entre Ríos</p>
                </div>
            </div>
        </div>

    </div>
</div>