<!-------------------------------
-----------HARD SKILLS---------->
<h1 class="text-center margin-bottom">HARD SKILLS</h1>
<div class="container">
  <div class="row ">
    <div class=" text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 align-items-center">
      <circle-progress class="center" [percent]="70" [radius]="70" [showTitle]="false" [showUnits]="false"
        [showSubtitle]="true" [subtitle]="'HTML'" [showImage]="true" [imageSrc]="'../../assets/logohtml5.png'"
        [imageHeight]="70" [imageWidth]="70" [outerStrokeWidth]="9" [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9f1f76'" [innerStrokeColor]="'#c68bb3'" [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>
    <div class=" text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <circle-progress class="center" [percent]="80" [radius]="70" [outerStrokeWidth]="9" [innerStrokeWidth]="8"
        [imageSrc]="'../../assets/csslogo.png'" [outerStrokeColor]="'#9f1f76'" [showImage]="true" [imageWidth]="70"
        [imageHeight]="70" [innerStrokeColor]="'#c68bb3'" [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>

    <div class=" text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <circle-progress class="center" [percent]="85" [radius]="70" [outerStrokeWidth]="9" [innerStrokeWidth]="8"
        [showImage]="true" [imageWidth]="60" [imageHeight]="60" [imageSrc]="'../../assets/bootraplogo.png'"
        [outerStrokeColor]="'#9f1f76'" [innerStrokeColor]="'#c68bb3'" [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>

    <div class=" text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <circle-progress class="center" [percent]="70" [radius]="70" [outerStrokeWidth]="9" [innerStrokeWidth]="8"
        [showImage]="true" [imageWidth]="60" [imageHeight]="60" [imageSrc]="'../../assets/javascriptlogo.png'"
        [outerStrokeColor]="'#9f1f76'" [innerStrokeColor]="'#c68bb3'" [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>

    <div class=" text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <circle-progress class="center" [percent]="50" [radius]="70" [outerStrokeWidth]="9" [innerStrokeWidth]="8"
        [showImage]="true" [imageWidth]="60" [imageHeight]="60" [imageSrc]="'../../assets/JQuery.png'"
        [outerStrokeColor]="'#9f1f76'" [innerStrokeColor]="'#c68bb3'" [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>

    <div class=" text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <circle-progress class="center" [percent]="70" [radius]="70" [outerStrokeWidth]="9" [innerStrokeWidth]="8"
        [showImage]="true" [imageWidth]="60" [imageHeight]="60" [imageSrc]="'../../assets/angularlogo.png'"
        [outerStrokeColor]="'#9f1f76'" [innerStrokeColor]="'#c68bb3'" [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>
  </div>
</div>
<!-------------------------------
-----------SOFT SKILLS---------->
<h1 class="text-center margin-bottom margin-top">SOFT SKILLS</h1>
<div class="container">
  <div class="row ">
    <div class=" text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <circle-progress class="center" [percent]="90" [radius]="70" [outerStrokeWidth]="9" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#2b6fd7'" [showTitle]="true" [showSubtitle]="true" [subtitle]="'Escucha activa'" [innerStrokeColor]="'#6FA2FF'"
        [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>
    <div class=" text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <circle-progress class="center" [percent]="87" [radius]="70" [outerStrokeWidth]="9" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#2b6fd7'" [showTitle]="true" [showSubtitle]="true" [subtitle]="'Comunicación'" [innerStrokeColor]="'#6FA2FF'"
        [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>

    <div class=" text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <circle-progress class="center" [percent]="87" [radius]="70" [outerStrokeWidth]="9" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#2b6fd7'" [showTitle]="true" [showSubtitle]="true" [subtitle]="'Liderazgo'" [innerStrokeColor]="'#6FA2FF'"
        [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>

    <div class=" text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <circle-progress class="center" [percent]="80" [radius]="70" [outerStrokeWidth]="9" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#2b6fd7'" [showTitle]="true" [showSubtitle]="true" [subtitle]="'Trabajo en Equipo'" [innerStrokeColor]="'#6FA2FF'"
        [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>

    <div class=" text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <circle-progress class="center" [percent]="85" [radius]="70" [outerStrokeWidth]="9" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#2b6fd7'" [showTitle]="true" [showSubtitle]="true" [subtitle]="'Flexibilidad'" [innerStrokeColor]="'#6FA2FF'"
        [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>

    <div class=" text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <circle-progress class="center" [percent]="90" [radius]="70" [outerStrokeWidth]="9" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#2b6fd7'" [showTitle]="true" [showSubtitle]="true" [subtitle]="'Inteligencia Emocional'" [innerStrokeColor]="'#6FA2FF'"
        [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>
  </div>
</div>