<div class="row">
  <circle-progress [percent]="85" [radius]="70" [showTitle]="false" [titleFontSize]="'2em'" [showUnits]="false" [showSubtitle]="false" [showImage]="true" [imageSrc]="'../../assets/html5.png'" [imageHeight]="50" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
    [outerStrokeColor]="'#9f1f76'" [innerStrokeColor]="'#c68bb3'" [animation]="true" [animationDuration]="300">
  </circle-progress>
</div>
<div class="row">
  <circle-progress [percent]="85" [radius]="70" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
    [outerStrokeColor]="'#9f1f76'" [innerStrokeColor]="'#c68bb3'" [animation]="true" [animationDuration]="300">
  </circle-progress>
</div>
<div class="row">
  <circle-progress [percent]="85" [radius]="70" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
    [outerStrokeColor]="'#9f1f76'" [innerStrokeColor]="'#c68bb3'" [animation]="true" [animationDuration]="300">
  </circle-progress>
</div>