img {
    width: 50px;
}
#experiencia {
    position: relative;
    display: flex;
    align-items: center;
}
.titulo {
    margin-left: 10px;
    padding-left: 5px;
    font-size: large;
}
h1, h2, h3, h4 {
    font-size: large;
}