<div class="container">
    <div class="row">
        <div class="col-12 ">
            <div class="context">
                <div id="experiencia"><img src="../../../assets/maletin.png" alt="bag"></div>
                <h2 class="proyectos">Experiencia</h2>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <h3>Estudio Jurídico Civíl y Comercial</h3>
            <h4>Secretaria administrativa</h4>
            <h4>2013 - 2015</h4>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <h3>
                Estudio Jurídico previsional
            </h3>
            <h4>Secretaria Administrativa</h4>
            <h4>2015 - 2021</h4>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h3>Juguetería Nico</h3>
            <h4>Encargada</h4>
            <h4>2021 - presente</h4>
        </div>
    </div>
</div>