@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Koulen&family=Righteous&display=swap');
.size {
    width: 98%;
    margin: auto;
}
div {
    position: relative;
}


p {
    color: #f1f1f1;
    font-family: 'Inter', sans-serif;
    font-size: x-large;
}



.box {
    padding: 1em;
}
h1 {
    font-family: 'Inter', sans-serif;
}
h2 {
    font-family: 'Inter', sans-serif;
    padding-left: 3px;
}
h2, h3 {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    padding-top: 7px;
}
h4 {
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 100%;
}
a {
    display: block;
    color: #f1f1f1 !important;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    border-radius: 50px;
    transition: all .4s ease-in-out;
}
a:hover {
    transform: scale(1.2);
}

section {
    padding: 2% 0 2% 0;
}
.media-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.pad {
    padding: 2em;
}
