
    <div class="container">
        <div class="row box">
            <div id="blue" class="col-12">
                <h2 id="white">Acerca de mi</h2>
                <p>Nací en la ciudad de Concepción del Uruguay, Entre Ríos. Me gusta aprender nuevas disciplinas y
                    estudiar de todo un poco.
                    Me recibí en el año 2019 de Técnica Universitaria en Seguridad e Higiene, trabajo como empleada
                    y a mi tiempo libre lo divido entre disfrutar del río, realizar ejercicio, y
                    estudiar programación web
                </p>
            </div>
        </div>
    </div>

